<html>
    <head>
        <title>Administration</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="admin-page-body">

        <div class="admin-title-bar">
            <a onclick="setSelectedTab('database-tab')">Database</a>
            <a>Marketplace</a>
            <a>Create Post</a>
            <a href="/">Home Page</a>
            <a href="/logout">Logout</a>
        </div>

        <div class="admin-container">
            <div id="database-tab">
                <div class="admin-table-container" style="float: left;">
                    <table id="usersTable" class="admin-table">
                        <tr>
                            <th>Username</th>
                            <th>Admin</th>
                            <th>Change Role</th>
                            <th>Delete</th>
                        </tr>
                    </table>
                </div>

                <div class="admin-table-container" style="float: right;">
                    <table id="postsTable" class="admin-table">
                        <tr>
                            <th>Post Title</th>
                            <th>Length</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: none;">
            <h3>Create Post</h3>
            <form action="/posts/create" method="POST" enctype="multipart/form-data">
                <input type="text" name="postname"><br>
                <input type="file" name="image"><br>
                <textarea name="postcontent" rows="6" cols="60"></textarea><br>
                <input type="submit" value="Create Post">
            </form>
        </div>

        <script>

            function setSelectedTab(tabid) {
                let parent = document.querySelector('.admin-container')
                let tabelement = document.getElementById(tabid)

                if (parent.style.opacity == 0) {
                    parent.style.opacity = 1
                } else {
                    parent.style.opacity = 0
                }

                //tabelement.style.display = "block"
            }

            function fillUserTable() {
                fetch('/users/loadall')
                    .then(res => res.json())
                    .then((data) => {
                        if (data.status == 'success') {
                            data.users.forEach((user) => {
                                let parent = document.getElementById('usersTable')
                                let row = document.createElement('tr')

                                // For Username
                                let usernametd = document.createElement('td')
                                usernametd.innerText = user.username
                                row.appendChild(usernametd)

                                // For Admin Status
                                let isadmintd = document.createElement('td')
                                isadmintd.innerText = user.isadmin
                                row.appendChild(isadmintd)

                                // For Change Role Button
                                let changeroletd = document.createElement('td')
                                let changerole = document.createElement('a')
                                changerole.href = '/users/changerole/' + user.username
                                changerole.innerText = 'Change Role'
                                changeroletd.appendChild(changerole)
                                row.appendChild(changeroletd)

                                // For Delete Button
                                let deletebuttontd = document.createElement('td')
                                let deletebutton = document.createElement('a')
                                deletebutton.href = '/users/delete/' + user.username
                                deletebutton.innerText = 'Delete'
                                deletebuttontd.appendChild(deletebutton)
                                row.appendChild(deletebuttontd)

                                parent.appendChild(row)
                            })
                        }
                    })
            }

            function fillPostTable() {
                fetch('/posts/loadall')
                    .then(res => res.json())
                    .then((data) => {
                        if (data.status == 'success') {
                            data.posts.forEach((post) => {
                                let parent = document.getElementById('postsTable')
                                let row = document.createElement('tr')
                                
                                // For Title
                                let postnametd = document.createElement('td')
                                let postname = document.createElement('p')
                                postname.innerText = post.name
                                postnametd.appendChild(postname)
                                row.appendChild(postnametd)

                                // For Length
                                let lengthtd = document.createElement('td')
                                lengthtd.innerText = post.length
                                row.appendChild(lengthtd)

                                // For Edit Button
                                let editbuttontd = document.createElement('td')
                                let editbutton = document.createElement('a')
                                editbutton.href = '/posts/edit/' + post._id
                                editbutton.innerText = 'Edit'
                                editbuttontd.appendChild(editbutton)
                                row.appendChild(editbuttontd)

                                // For Delete Button
                                let deletebuttontd = document.createElement('td')
                                let deletebutton = document.createElement('a')
                                deletebutton.href = '/posts/delete/' + post._id
                                deletebutton.innerText = 'Delete'
                                deletebuttontd.appendChild(deletebutton)
                                row.appendChild(deletebuttontd)

                                parent.appendChild(row)
                            })
                        }
                    })
            }

            window.onload = function() {
                fillUserTable()
                fillPostTable()
            }

        </script>
    </body>
</html>