<html>
    <head>
        <title>Administration</title>
    </head>
    <body>
        <h3>Admin Page!</h3>
        <div>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Change Role</th>
                    <th>Delete User</th>
                </tr>
                <% for (let i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].isadmin %></td>
                        <td><a href="/users/changerole/<%= users[i].username %>">Change Role</a></td>
                        <td><a href="/users/delete/<%= users[i].username %>">Delete</a></td>
                    </tr>
                <% } %>
            </table>
        </div>
        <div>
            <form action="/logout">
                <input type="submit" value="Logout">
            </form>
        </div>
    </body>
</html>