<html>
    <head>
        <title>Administration</title>
    </head>
    <body>
        <h3>Admin Page!</h3>
        <div>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Admin</th>
                </tr>
                <% for (let i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].isadmin %></td>
                        <td><input type="button" onclick="window.location.href='/api/user/delete/<%= users[i].username %>'" value="Delete"></td>
                    </tr>
                <% } %>
            </table>
        </div>
        <div>
            <form action="/logout">
                <input type="submit" value="Logout">
            </form>
        </div>
    </body>
</html>