<html>
    <head>
        <title>RandomCTF</title>
        <meta name="description" content="A hacking blog with information about new up to date attack vectors.">
        <meta name="keywords" content="CTF,hacking,cybersecurity,programming,blog">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body>
        <script>

            function setSlide(slideIndex) {
                
                let slides = document.getElementsByClassName('slideshow-slide')
                
                if (slideIndex > slides.length - 1) {
                    slideIndex = 0
                } else if (slideIndex < 0) {
                    slideIndex = slides.length - 1
                }

                for (let i = 0; i < slides.length; i++) {
                    slides[i].classList.remove('slideshow-active')
                }

                slides[slideIndex].classList.add('slideshow-active')

            }

            function formatPostContainer(post) {
                let parent = document.getElementById('fullPostContainer')

                parent.innerHTML = ''
                let posttitle = document.createElement('h2')
                posttitle.innerText = post.name
                parent.appendChild(posttitle)
                
                let postcontent = document.createElement('p')
                postcontent.innerHTML = marked(post.content)
                parent.appendChild(postcontent)
            }

            function loadPostContent(posturl) {

                fetch(posturl)
                    .then(res => res.json())
                    .then((data) => {
                        if (data.status == 'success') {
                            
                            let parent = document.getElementById('fullPostContainer')

                            if (parent.firstChild.innerText != data.post.name) {
                                parent.style.opacity = 0
                                document.title = data.post.name + ' | RandomCTF'
                                window.history.pushState({'post': data.post._id}, '', '/?post=' + data.post._id)
                                setTimeout(function () {
                                    formatPostContainer(data.post)
                                    parent.style.opacity = 1
                                }, 500)
                            } else if (parent.style.opacity != 0) {
                                parent.style.opacity = 0
                                document.title = 'RandomCTF'
                                window.history.pushState({}, '', '/')
                                setTimeout(function () {
                                    formatPostContainer(data.post)
                                }, 500)
                            } else {
                                parent.style.opacity = 1
                                document.title = data.post.name + ' | RandomCTF'
                                window.history.pushState({'post': data.post._id}, '', '/?post=' + data.post._id)
                                formatPostContainer(data.post)
                            }

                        }

                    })
                    
            }

            function createPostContainers(data) {

                if (data.status == 'success') {

                    let posts = []
                    data.posts.forEach((post) => {
                        if (post.type == "post") {
                            posts.push(post)
                        }
                    })

                    posts.forEach((post, index) => {

                        // Create Post Container
                        let postparent = document.getElementById('posts')
                        let postdiv = document.createElement('div')
                        postdiv.classList.add('post-container')
                        postdiv.onmouseover = function () {setSlide(index + 1)}
                        postdiv.onclick = function () {loadPostContent('/posts/load/' + post._id)}

                        // For Post URL
                        let postlink = document.createElement('a')
                        postlink.innerText = post.name
                        postdiv.appendChild(postlink)
                        postdiv.appendChild(document.createElement('br'))

                        // For Post Content
                        let postcontent = document.createElement('p')
                        postcontent.innerText = post.content
                        postdiv.appendChild(postcontent)

                        // Append the div
                        postparent.appendChild(postdiv)

                        // Create Slide
                        let slideparent = document.getElementById('slideshowContainer')
                        let slidediv = document.createElement('div')
                        slidediv.classList.add('slideshow-slide')
                        let slideimage = document.createElement('img')
                        slideimage.src = '/uploads/' + post.image + '.jpg'
                        slidediv.appendChild(slideimage)
                        slideparent.appendChild(slidediv)
                        
                    })

                }

            }

            function loadPosts() {
                fetch('/posts/loadall')
                    .then(res => res.json())
                    .then((data) => {
                        createPostContainers(data)                        
                    })

            }

            window.onload = function () {
                loadPosts()
                let searchparams = new URLSearchParams(document.location.search.substring(1))
                let initialpostid= searchparams.get("post")
                if (initialpostid) {
                    loadPostContent('/posts/load/' + initialpostid)
                }
                setSlide(0)
            }
        </script>
        <div id="slideshowContainer">

            <div class="title-bar">
                <a href="/login">Login</a>
                <a class="isDisabled" href="/marketplace">Marketplace</a>
                <a onclick="loadPostContent('/posts/contact')">Contact</a>
                <a onclick="loadPostContent('/posts/about')">About</a>   
            </div>

            <div id="posts" class="post-bar">
                <h1 class="post-bar-title">Random<br>CTF</h1>
            </div>

            <div id="fullPostContainer">
            </div>

            <div class="slideshow-slide slideshow-active">
                <img src="defaultbackground.jpg">
            </div>
        
        </div> 
    </body>
</html>