<html>
    <head>
        <title>RandomCTF</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="slideshow-container">
            <div class="title-bar">
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                <a href="/admin">Admin Page</a>
                <a href="/member">Member Page</a>   
            </div>
            <div id="currentSlide">
                <img src="tempbackground.jpg">
            </div>
            <button class="pointer-next" onclick="changeSlide(1)">&#10095;</button>
            <button class="pointer-prev" onclick="changeSlide(-1)">&#10094;</button>
            
        </div>
        <div id="posts">
        </div>
        <script>
            function loadPosts() {
                fetch('/posts/loadall')
                    .then(res => res.json())
                    .then((data) => {
                        if (data.status == 'success') {
                            data.posts.forEach((post) => {
                                let newpost = document.createElement('a')
                                newpost.href = '/posts/load/' + post._id
                                newpost.innerText = post.name
                                let parent = document.getElementById('posts')
                                parent.appendChild(newpost)
                                parent.appendChild(document.createElement('br'))
                            })
                        }
                    })

            }
            window.onload = loadPosts()
        </script>
    </body>
</html>