<html>
    <head>
        <title>RandomCTF</title>
    </head>
    <body>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/admin">Admin Page</a>
        <a href="/member">Member Page</a>
    </body>
</html>