<html>
    <head>
        <title>RandomCTF</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body>
        <div id="slideshowContainer">

            <div class="title-bar">
                <a href="/login">Login</a>
                <a class="isDisabled" href="/signup">Sign Up</a>
                <a href="/admin">Admin Page</a>
                <a class="isDisabled" href="/member">Member Page</a>   
            </div>

            <div id="posts" class="post-bar">
                <h1 class="post-bar-title">Random<br>CTF</h1>
            </div>

            <a class="pointer-next" onclick="iterateSlide(1)">&#10095;</a>
            <a class="pointer-prev" onclick="iterateSlide(-1)">&#10094;</a>

            <div id="fullPostContainer">
            </div>

            <div class="slideshow-slide">
                <img src="capturetheflag.jpg">
            </div>
        
        </div>
        <script>

            let slideIndex = 0

            function setSlide(index) {
                slideIndex = 0
                iterateSlide(index)
            }

            function iterateSlide(iterator) {
                
                let slides = document.getElementsByClassName('slideshow-slide')

                if (slideIndex + iterator > slides.length - 1) {
                    slideIndex = 0
                } else if (slideIndex + iterator < 0) {
                    slideIndex = slides.length - 1
                } else {
                    slideIndex += iterator
                }

                console.log("Switching slide to: " + slideIndex)
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none"
                }
                slides[slideIndex].style.display = "block"

            }

            function loadPostContent(postid) {
                fetch('/posts/load/' + postid)
                    .then(res => res.json())
                    .then((data) => {

                        if (data.status == 'success') {
                            
                            let parent = document.getElementById('fullPostContainer')
                            parent.innerHTML = ''

                            let posttitle = document.createElement('h2')
                            posttitle.innerText = data.post.name
                            parent.appendChild(posttitle)
                            
                            console.log(data)
                            let postcontent = document.createElement('p')
                            postcontent.innerHTML = marked(data.post.content)
                            parent.appendChild(postcontent)

                            parent.style.display = "block"
                        }

                    })
            }

            function createPostContainers(data) {

                if (data.status == 'success') {

                    data.posts.forEach((post, index) => {

                        // Create Post Container
                        let postparent = document.getElementById('posts')
                        let postdiv = document.createElement('div')
                        postdiv.classList.add('post-container')
                        postdiv.onmouseover = function (event) {eval("setSlide(" + (index + 1) + ")")}

                        // For Post URL
                        let postlink = document.createElement('a')
                        postlink.onclick = function () {
                            console.log("CLICK")
                            loadPostContent(post._id)
                        }
                        postlink.innerText = post.name
                        postdiv.appendChild(postlink)
                        postdiv.appendChild(document.createElement('br'))

                        // For Post Content
                        let postcontent = document.createElement('p')
                        postcontent.innerText = post.content
                        postdiv.appendChild(postcontent)

                        // Append the div
                        postparent.appendChild(postdiv)

                        // Create Slide
                        let slideparent = document.getElementById('slideshowContainer')
                        let slidediv = document.createElement('div')
                        slidediv.classList.add('slideshow-slide')
                        let slideimage = document.createElement('img')
                        slideimage.src = '/uploads/' + post.image + '.jpg'
                        slidediv.appendChild(slideimage)
                        slideparent.appendChild(slidediv)
                    })

                }

            }

            function loadPosts() {
                fetch('/posts/loadall')
                    .then(res => res.json())
                    .then((data) => {
                        createPostContainers(data)                        
                    })

            }

            window.onload = function () {
                loadPosts()
                iterateSlide(0)
            }
        </script>
    </body>
</html>