<html>
    <head>
        <title>RandomCTF</title>
    </head>
    <body>
        <div>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/admin">Admin Page</a>
            <a href="/member">Member Page</a>    
        </div>
        <div>
            <% for (let i = 0; i < posts.length; i++) { %>
            <a href="/posts/load/<%= posts[i]._id %>"><%= posts[i].name %></a><br>
            <% } %>
        </div>
    </body>
</html>