<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="admin-page-body">
        <div class="login-form-container">
            <h2 class="login-form-title">Login</h2>
            <form action="login" method="POST">
                <input class="login-input admin-create-post-title" name="username" type="text" placeholder="Username"><br>
                <input class="login-input admin-create-post-title" name="password" type="password" placeholder="Password"><br>
                <input class="login-submit admin-create-post-submit" type="submit" value="Login">
            </form>
            <p style="color: white;"><%= loginmessage %></p>
            <a class="login-link" href="/">Home Page</a>
            <a class="login-link isDisabled" href="/signup">Sign Up</a>
        </div>
    </body>
</html>