<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
        <meta name="fragment" content="!"> 
    </head>
    <body class="admin-page-body">
        <div class="login-form-container">
            <h1 class="login-form-title">Login</h1>
            <form action="login" method="POST">
                <input class="login-input standard-input" name="username" type="text" placeholder="Username"><br>
                <input class="login-input standard-input" name="password" type="password" placeholder="Password"><br>
                <input class="login-submit submit-button" type="submit" value="Login">
            </form>
            <p style="color: white;"><%= loginmessage %></p>
            <a class="login-link" href="/">Home Page</a>
        </div>
    </body>
</html>