<html>
    <head>
        <title><%= post.name %></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.1/dist/css/uikit.min.css">
    </head>
    <body>
        <h2><%= post.name %></h2>
        <p><%= post.content %></p>
        <a href="/">Home Page</a>
    </body>
</html>