<html>
    <head>
        <title><%= post.name %></title>
    </head>
    <body>
        <h2><%= post.name %></h2>
        <p><%= post.content %></p>
        <a href="/">Home Page</a>
    </body>
</html>