<html>
    <head>
        <title><%= postname %></title>
    </head>
    <body>
        <h2><%= postname %></h2>
        <p><%= postcontent %></p>
        <a href="/">Home Page</a>
    </body>
</html>