body {
    background-color: black;
    margin: 0;
}

.title-bar {
    text-align: center;
    display: flex;
    font-size: xx-large;
    position: absolute;
}

.title-bar a {
    color: white;
    padding: 10px;
    border: 2px solid;
    text-decoration: none;
}

.title-bar a:hover {
    color: gray;
}

.slideshow-slide {
    display: none;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.pointer-next, .pointer-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    border: transparent;
    background-color: transparent;
    font-size: 200%;
    user-select: none;
}

.pointer-next {
    right: 0;
}