body {
    background-image: url("tempbackground.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.uk-button-color {
    color: white;
}